<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="APP_ROOT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/root.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>root.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-0}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- NSQ日志输出 -->
    <logger name="com.fly" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APP_ROOT"/>
    </logger>

</configuration>